<div class="main">
  <div style="text-align:center">
    <h1>
      Welcome to {{title}}!
    </h1>
    <img style="max-width: 25%" class="img-responsive" src="https://hakron.io/img/logo.svg">
  </div>
  <br/>
  <!-- <h2>Here are some links to help you start: </h2>
  <ul>
    <li>
      <h2><a target="_blank" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
    </li>
    <li>
      <h2><a target="_blank" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
    </li>
    <li>
      <h2><a target="_blank" href="https://blog.angular.io//">Angular blog</a></h2>
    </li>
  </ul> -->
  <div class="row justify-content-between">
      <button type="button" class="btn btn-primary col-md-2" (click)="getStuff()">Update Leaderboard!</button>
    <input ngModel="" class="col-md-2">
  </div>

  <br/>
</div>

  <div class="table-responsive">
    <table class="table-bordered table-striped ">
        <tr>
          <td class="col-lg-1 col-md-3 col-sm-3 col-xs-6">Rank</td>
          <th class="col-lg-3 col-md-3 col-sm-3 col-xs-6">Name</th>
          <th class="col-lg-3 col-md-3 col-sm-3 col-xs-6">Bits</th>
        </tr>
        <tr *ngFor="let person of everyone">
          <td class="col-lg-1 col-md-3 col-sm-3 col-xs-6">{{person.rank}}</td>
          <td class="col-lg-3 col-md-3 col-sm-3 col-xs-6">{{person.name}}</td>
          <td class="col-lg-3 col-md-3 col-sm-3 col-xs-3">{{person.bits}}</td>
        </tr> 
    </table>
  </div>
