<div class="main">
  <div style="text-align:center">
    <h4>
      Welcome to {{title}}!
    </h4>
    <img style="max-width: 500px" class="img-responsive" src="https://hakron.io/img/logo.svg">
  </div>
  <br/>

  <form class="form-inline justify-content-center" style="margin-bottom: 10px;">
      <button type="button" class="btn btn-primary" (click)="getStuff()">Update Leaderboard!</button>
  </form>
  <form class="form-inline justify-content-center"  style="margin-bottom: -20px;"> 
    <input [(ngModel)]="lookupName"  [ngModelOptions]="{standalone: true}" class="" placeholder="First Name" style="margin-right: 10px;">
    <button type="button" class="lButton btn btn-primary "(click)="nameLookup(content)">Search Rank</button>
  </form>

  <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Search Results</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="table table-responsive">
              <table class="table-bordered table-striped" style="width: 100%">
                  <tr>
                    <th class="">Rank</th>
                    <th class="">Name</th>
                    <th class="">Bits</th>
                  </tr>
                  <tr *ngFor="let person of found">
                    <td class="">{{person.rank}}</td>
                    <td class="">{{person.name}}</td>
                    <td class="">{{person.bits}}</td>
                  </tr> 
              </table>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
      </div>
    </ng-template>
    
  <br/>
</div>

  <div class="table table-responsive">
    <table class="table-bordered table-striped" style="width: 100%">
        <tr>
          <td class="">Rank</td>
          <th class="">Name</th>
          <th class="">Bits</th>
        </tr>
        <tr *ngFor="let person of people">
          <td class="">{{person.rank}}</td>
          <td class="">{{person.name}}</td>
          <td class="">{{person.bits}}</td>
        </tr> 
    </table>
  </div>




  
