<div class="main">
  <div style="text-align:center">
    <h4>
      Welcome to {{title}}!
    </h4>
    <img style="max-width: 500px" class="img-responsive" src="https://hakron.io/img/logo.svg">
  </div>
  <br/>

  <div class="row justify-content-center" style="margin-bottom: 10px;">
      <button type="button" class="btn btn-primary col-md-3" (click)="getStuff()">Update Leaderboard!</button>
  </div>
  <form class="row form-inline justify-content-center"  style="margin-bottom: -20px;"> 
    <input ngModel="name" class="col-xs-4 col-sm-3 col-md-2 col-lg-2" placeholder="Zippy Z." style="margin-right: 10px;">
    <button type="button" class="lButton btn btn-primary col-xs-4 col-sm-3 col-md-2 col-lg-2">Search Rank</button>
  </form>

  

  <br/>
</div>

  <div class="table-responsive">
    <table class="table-bordered table-striped ">
        <tr>
          <td class="col-lg-1 col-md-3 col-sm-3 col-xs-6">Rank</td>
          <th class="col-lg-3 col-md-3 col-sm-3 col-xs-6">Name</th>
          <th class="col-lg-3 col-md-3 col-sm-3 col-xs-6">Bits</th>
        </tr>
        <tr *ngFor="let person of everyone">
          <td class="col-lg-1 col-md-3 col-sm-3 col-xs-6">{{person.rank}}</td>
          <td class="col-lg-3 col-md-3 col-sm-3 col-xs-6">{{person.name}}</td>
          <td class="col-lg-3 col-md-3 col-sm-3 col-xs-3">{{person.bits}}</td>
        </tr> 
    </table>
  </div>
