/* .LTable {.col-lg-3; .col-md-3 .col-sm-3 .col-xs-6} */
.main{background-image: url("https://hakron.io/img/background.svg");}
button{background-color: #246596;}
*{font-family: 'Open Sans', sans-serif;}
/* .table td{text-align: center;} */

::-webkit-input-placeholder {
    text-align: center;
}
:-moz-placeholder {
    text-align: center;
}
::-moz-placeholder {
    text-align: center;
}
:-ms-input-placeholder {
    text-align: center;
}

@font-face {
    font-family: "Coolvetica";
    src: url("/font/coolvetica-rg.ttf");
}

h2
{
    font-weight: 800;
    line-height: 1.1em;
    letter-spacing: 2px;
    -webkit-text-stroke-width: 1.25px;
    font-size: 50px;
    font-family: "Coolvetica" !important;
    color: #f7edcd !important;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #4a3223;
}

img
{
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

