/* .LTable {.col-lg-3; .col-md-3 .col-sm-3 .col-xs-6} */
.main{background-image: url("https://hakron.io/img/background.svg");}
button{background-color: #246596;}
*{font-family: 'Open Sans', sans-serif;}
/* .table td{text-align: center;} */

::-webkit-input-placeholder {
    text-align: center;
}
:-moz-placeholder {
    text-align: center;
}
::-moz-placeholder {
    text-align: center;
}
:-ms-input-placeholder {
    text-align: center;
}